body {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.Section_5 {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: rgb(10, 25, 84);
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
    background-size: cover;
    padding-bottom: 9%;
    
    
}

.Section_5BIS {
    width: 100%;
    display: flex;
}

.S5_ONE {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
    /* line-height: 1.2%; */
   
}

.S5_ONE h4 {
    letter-spacing: 2px;
    color: #549bd6;
}


.S5_ONE h1 {
    display: flex;
    font-size: 40px;
    line-height: 1.2;
}

.S5_ONE p {
    color: #5e74bf;
    line-height: 150%;
    font-size: 16px;
}

/* .S5_ONE div h1,
.S5_ONE div p,
.S5_ONE div h4 {
    margin-top: 10%;
    margin-bottom: 10%;
} */


.GET_STARTED {
    padding-top: 3%;
    padding-right: 15%;
}

button {
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #0ad3ef;
    border: none;
    padding: 2%;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.S5_TWO {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 20%;
    gap: 5%;
    /* justify-content: space-between; - Mobile screen */
}

.S5_TWO div {
    background-color: rgba(53, 70, 137, 0.233);
    border-radius: 10%;
    width: 150px;
    height: auto;
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.S5_TWO img {
    width: 70px;
    height: auto;
}

.S5_TWO h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

.S5_TWO p {
    color: #4f64ac;
}

.S5_TWO div img,
.S5_TWO div h4,
.S5_TWO div p {
    margin-top: 5%;
    margin-bottom: 5%;
}

