body{
    width: 100vw;
    /* height: fit-content ; */
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

/* ------------------------------- */
/* Section1- Partners */

.sectionOne{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners{
    width: 100%;
    margin:0;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color:rgba(10,25,84,255) ;
    font-family: Roboto;

}

.textPartners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 1%;
}

.textPartners p{
    margin: 0;
    padding-bottom: 2%;
    color:rgba(8,212,238,255);

    display: flex;
    justify-content: center;

}

.textPartners h1{
    margin: 0;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.iconPartners{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 6%;
    padding-top: 3%;
    background-color:rgba(10,25,84,255) ;

    gap:5%;
}

.iconPartners div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;

    border: 1px solid rgba(23,37,110,255);
    background-color: rgba(23,37,110,255);
    border-radius: 10px;
}

.iconPartners img{
    width: 50px;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition-duration: 1s;
}

.sectionOne img{
    background-color: rgba(53,70,137,0.233);
    border-radius: 10px;
    transition: transform 0.3 ease-in-out;
}
.sectionOne img:hover{
    background-color: rgba(8,212,238,255);
    border-radius: 10px;
    margin-bottom: 5px; 
    transform: translateY(-10px);
}



/* Tablette */
@media (min-width:426px) and (max-width:768px){


    .partners{
        align-items: center;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .textPartners h1{
        font-size: 20px;
    }

    .partners{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .iconPartners{
        width: 90%;
        gap:15%;

    }
}


/* Mobile M */
@media (max-width:375px) {
    .textPartners h1{
        font-size: 15px;
    }
}