body{
    width: 100vw;
    /* height: fit-content ; */
    margin: 0;
    padding:0;
}

.headerNavMenu{
    width:100%;
    padding-top:20px;
    /* height:fit-content; */
    background-image: url(../src/image/banner-overlay-img.png);

    background-color: rgba(10,25,84,255);
    background-size: cover;  
  
}

.navbar{
    width: 100%;
    height: max-content;
    color:white;
    font-family: Roboto;

    display: flex;
    align-items: center;  
}

.navbarIcon{
    width: 20%;
    display: flex;
    justify-content: center;
}

.iconLogo{
    width: 30%;
}

.navbarMenu{
    width: 70%;
    display: flex;
    justify-content: center;
    gap:3.5%;
}

.my-link{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContactUs{
    width:120px;
    height: 40px;
    font-size: 15px;
    color:white;
    background-color: rgba(12,210,238,255);
    border-radius: 30px;
    border-style: none;
} 

.buttonContactUs:hover{
    border: 2px solid rgba(8,212,238,255);
    background-color:rgba(10,25,84,255) ;
}

/* ---------------------------------------------- */
/* Intro */
.intro{
    width: 100%;
    height:fit-content;
    padding-top: 5%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textIntro{
    width:40% ;    
    padding-top:5%;
    padding-bottom: 5%;
    /* padding: 30px 0px 30px 60px; */
    margin-left: 10%;
    font-family: Roboto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1Intro{
    font-size: 30px;
    width: 100%;
}

.paragrapheIntro{
    font-size: 12px;
    font-style: lighter;
    width: 80%;

}

.bannerRight{
    width: 50%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}


.bannerRight img{
    width: 100%;
    height: 100%;
    padding-right:5%;
    display: flex;
}

.buttonIntro{
    display: flex;
    gap:20px;
}

.getStarted{
    width:120px;
    height: 40px;
    font-size: 15px;
    color:white;
    background-color: rgba(8,212,238,255);
    border-radius: 30px;
    border-style: none;
}

.getStarted:hover{
    border: 2px solid rgba(8,212,238,255);
    background-color:rgba(10,25,84,255) ;

}

.contactUs{
    width:120px;
    height: 40px;
    font-size: 15px;
    color:white;
    background-color: rgba(33,82,161,255);
    border-radius: 30px;
    border-style: none;
}

.contactUs:hover{
    border:2px solid rgba(8,212,238,255);
    background-color:rgba(10,25,84,255)
}


/* ------------------------------- */
/* Section1- Partners */
.partners{
    width: 100%;
    margin:0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:rgba(10,25,84,255) ;
    font-family: Roboto;
    

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.textPartners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 1%;
}

.textPartners p{
    margin: 0;
    padding-bottom: 2%;
    color:rgba(8,212,238,255);

    display: flex;
    justify-content: center;

}

.textPartners h1{
    margin: 0;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.iconPartners{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 6%;
    padding-top: 3%;

    gap:5%;
}

.iconPartners div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;

    border: 1px solid rgba(23,37,110,255);
    background-color: rgba(23,37,110,255);
    border-radius: 10px;
}

.iconPartners img{
    width: 50px;
    height: 50px;
    padding: 20px;

    display: flex;
    justify-content: center;
    transition-duration: 1s;
}

.iconPartners img:hover{
    background-color: rgba(8,212,238,255);
    border-radius: 10px;
    margin-bottom: 5px; 
}

/*-- Section2 : Who we are -- */
.imgWho{
    width:100%;
    height: fit-content;
    padding-bottom: 5%;
    background-color: rgba(10,25,84,255);
    display: flex;
    justify-content: flex-end;
    gap:3%;
}

.imgWho p {
    margin:0;

}

.imgLeftWho{
    width: 40%;
    height: fit-content;
    display: flex;

}

.imgLeftWho img{
    width: 80%;
    height: fit-content;
    display: flex;
    padding-left: 20%;

}

.imgRightdots{
    width: 15%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.imgRightdots img{
    width: 80%;
    height: fit-content;
    background-position: left;

    display: flex;
    align-items: center;
    padding-top:60%;
    padding-left: 10%;

}

.textWho{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    
}

.textWho .title{
    color:rgba(8,212,238,255);
    font-family: Roboto;
    margin:0;
    display: flex;
    padding-bottom: 4%;
    letter-spacing: 5px;

}

.descriptionWho{
    width: 100%;
    color:white;
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descriptionWho h1{
    color:white;
    font-family: Roboto;
    font-size: 40px;
    display: flex;
    line-height: 40px;
    padding-bottom: 4%;
    margin:0;
}

.introBulletWho {
    width:100%;
    margin:0;
    color: #4f64ac;
    display: flex;
    padding-bottom: 4%;

}

.fa-ul {
    margin:0;
    padding: 0;
    width:100%;
    color: #4f64ac;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;

} 

.fa-ul li{
    list-style: none;

}

/* --------------------------------------- */

/* Footer */
.backgroundFooter{
    width:100%;
    height: fit-content;
    padding-top:10%;
    color: #4f64ac;
    font-family: Roboto;
    background-color:rgba(10,25,84);
    background-size: cover;
    /* background-image: url(../src/image/banner-overlay-img.png); */

    display: flex;
    flex-direction: column;
    align-items: center;

}

.backgroundFooter h1, p{
    margin:0;
}

.backgroundFooter p {
    font-size: 15px;

}

.backgroundFooter h1{
    color:white;
    font-size: 20px;
    padding-bottom: 6%;

}
.footerTop{
    width: 80%;
    height: auto;
    padding-bottom:7%;
    display: flex;
    justify-content: center;
    gap:1%;

}

.iconLeftFooter{
    width: 20%;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.iconLeftFooter img{
    width: 55%;
    display: flex;
    padding-bottom: 5%;
    justify-content: flex-start;
}

.footerAboutUs{
    width: 10%;
    line-height: 200%;

}

.footerOurServices{
    width: 15%;
    line-height: 200%;


}

.newsletters{
    width: 20%;
    padding-left:5%;

}


.footerBottom{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding:1%;
}

.iconSocial{
    width:25%;
    display: flex;
    gap:25%;
}

.iconSocial a {
    text-decoration: none;
    gap:50%;
}

.email input{
    background-color: transparent;
    border : 2px solid rgba(18,32,97,255);
    border-radius: 5px;
    width:100%;
    height: auto;
    background-image: url(../src/image/submit-img.png);
    background-repeat: no-repeat;
    background-position: right 10% bottom 45%;
}

.newsletter #checkboxBOITE {
    background-color: transparent;
    border-color:aqua;

}

::placeholder{
    color: #4f64ac;
    font-size: 15px;
}


.agreement{
    display: flex;
    gap:2%;
    padding-top:4%;
}

.agreement p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.line{
    width: 100%;
    border: 0.1px solid rgba(18,32,97,255) ;

}
/* ---------------Media Querries-------------------- */
/* Laptop */
/* @media (min-width:769px) and(max-width:1024px) {
    .footerTop,
    .backgroundFooter,
    .iconLeftFooter {
        width: 1200px !important;
    }
    
} */

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .buttonContactUs{
        width: 100px;
        height: 30px;
    }

    .contactUs{
        width: 100px;
        height: 30px;
    }

    .getStarted{
        width: 100px;
        height: 30px;
    }

    .iconPartners{
        width: 50%;
    }

    .partners{
        align-items: center;
    }

    .footerTop{
        width:100%;
    }

    .imgWho{
        padding-top: 10%;
    }

    p.introBulletWho{
        font-size:30px;

    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .navbarMenu¶{
    font-size: 10px;
    width: 100%;
    }

    .my-link {
        font-size: 10px;
    }
    
    .buttonContactUs{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    .contactUs{
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .getStarted{
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .h1Intro{
        font-size: 30px;
    }

    .paragrapheIntro{
        font-size: 10px;
    }

    .textPartners h1{
        font-size: 20px;
    }

    .backgroundFooter{
        padding: 2%;
        width:96%;
    }
    .footerTop{
        width: 100%;
        font-size:10px;
    }

    
    .iconLeftFooter{
        width: 35%;
    }

    .iconLeftFooter p {
        font-size:10px;
    }

    .footerAboutUs p{
        font-size:10px;
    }

    .footerAboutUs h1{
        font-size:10px;
    }

    .footerOurServices p {
        font-size:10px;

    }

    .footerOurServices h1{
        font-size:10px;
    }

    .newsletters p{
        font-size:10px;

    }
    .newsletters h1 {
        font-size:10px;

    }

    ::placeholder {
        font-size:10px;

    }

    .email input {
        background-size: 7%;
    }

}

    .footerBottom{
        font-size: 10px;
    }


    .descriptionWho h1{
        font-size: 15px;
        line-height: 25px;

    }
    .descriptionWho p{
        font-size: 10px;
        line-height: 25px;
    }

    .fa-ul li{
        font-size: 10px;
        line-height: 20px;
    }
/* Mobile M */
@media (max-width:375px) {
    .navbarMenu¶{
        font-size: 8px;
        display: flex;
        justify-content: center;
        gap:0;
        }
    
    .my-link {
        font-size: 10px;
    }

    .buttonContactUs{
        width: 60px;
        height: 20px;
        font-size: 8px;
    }

    .headerNavMenu{
        width: auto;
    }

    .h1Intro{
        font-size: 15px;
    }

    .textIntro{
        font-size: 15px;

    }

    .paragrapheIntro{
        font-size: 6px;
    }

    .buttonIntro{
        gap:5%;
    }
    
    .contactUs{
        width: 80px;
        height: 25px;
        font-size: 8px;
    }

    .getStarted{
        width: 80px;
        height: 25px;
        font-size: 8px;
    }

    .textPartners h1{
        font-size: 15px;
    }



.descriptionWho h1 {
    font-size: 20px;
    line-height: 25px;
}
.title {
    font-size: 10px;

}
.introBulletWho{
    font-size: 10px;
    line-height: 15px;


}

.fa-ul{
    font-size: 10px;
    line-height: 15px;

 
}

.fa-ul img {
    width: 10%;
}

.imgWho{
    padding-top: 8%;
}

.backgroundFooter{
    width:96%;
    padding: 2%;
    
}

.footerTop{
    width: 100%;
    font-size:10px;
}


.iconLeftFooter{
    width: 35%;
}

.iconLeftFooter img {
    width: 50px;
}


.iconLeftFooter p {
    font-size:10px;
}

.footerAboutUs p{
    font-size:8px;
}

.footerAboutUs{
    line-height: 15px;
}

.footerAboutUs h1{
    font-size:10px;
}

.footerOurServices p {
    font-size:8px;
}

.footerOurServices{
    line-height: 15px;

}

.footerOurServices h1{
    font-size:10px;
}

.newsletters p{
    font-size:10px;

}
.newsletters h1 {
    font-size:10px;

}

::placeholder {
    font-size:8px;

}

.email input {
    background-size: 7%;
}

.agreement p{
    font-size:8px;

}

.footerBottom{
    font-size: 8px;
}
}