body {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.Section4 {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(10, 25, 84);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    /* background-repeat: no-repeat;
    background-position: left center; */
}

.Image_Back {
    display: flex;
    justify-content: center;
    width: 22%;
    transform: rotate(-5deg);
}

.Image_Back img {
    margin-right: 25%;
    width: 70%;
}


.S4_ONE {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% auto; /* auto - centrer avec margin auto */
    padding-right: 2%;
}

.INTRO {
    width:100%;
}

.S4_ONE h4 {
    letter-spacing: 2px;
    color: #549bd6;
}


.S4_ONE h1 {
    display: flex;
    font-size: 30px; /* 20px - taille de la police pour les petits écrans */
    line-height: 1.2;
}

.S4_ONE p {
    color: #6a7cbd;
    text-align: justify;
    line-height: 150%;
}


.S4_ONEBIS {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10%;
}

.ProgressBar {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}


  .First_ProgressBar,
  .Second_ProgressBar,
  .Third_ProgressBar { 
      width: 20%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      background: 
        radial-gradient(closest-side, rgb(10, 25, 84) 79%, transparent 80% 100%),
        conic-gradient(rgb(105, 188, 255) 85%, rgba(119, 145, 176, 0.196) 0);    
  }
  
  .First_ProgressBar progress,
  .Second_ProgressBar progress,
  .Third_ProgressBar progress {
      visibility: hidden;
  }


  /* .First_ProgressBar h2,
  .Second_ProgressBar h2,
  .Third_ProgressBar h2 {
  } */



.Paragraphes {
    display: flex;
}


.S4_TWO {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}


.Image_Working_Girl {
    position: relative;
    width: 100%;
}

.Image_Working_Girl img {
    width: 100%;
}



.READ_MORE {
    width: 23%;
    height: 32%;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 68%;
    right: 0;
}


button {
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #0ad3ef;
    border: none;
    padding: 1%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}



.READ_MORE img {
    width: 20%;
}
